.wrapper {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
  padding: 0 50px 0 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: large;
}

.genres {
  display: flex;
  gap: 20px;
}
.titleItem {
  font-size: larger;
  font-weight: bold;
}
.navDetails {
  display: flex;
  gap: 80px;
  font-size: large;
  justify-content: center;
}
.link {
  display: inline-block;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  color: orangered;
  transform: scale(1.2);
}
.active {
  color: orangered;
}
.linkBack {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
}
.linkBack {
  text-decoration: underline;
}

.linkBack:hover {
  color: orange;
}
.image {
  border-radius: 20px;
}
.text {
  width: 500px;
}
.mainTitle {
  color: orangered;
  font-size: 40px;
}
.titleItemGenres {
  margin-top: 280px;
  font-size: larger;
  font-weight: bold;
}
