.navList {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  margin: 0;
  padding: 10px 0 10px 0;
}
.mainNav {
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px orangered;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 50px;
  z-index: 9999;
  width: 100%;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
}
.link:hover {
  color: orangered;
  transform: scale(1.2);
}
.active {
  color: orangered;
}
