.mainList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 25px;
  column-gap: 15px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.poster {
  height: 250px;
  object-fit: contain;
  border-radius: 20px;
  transition: transform 0.5s ease;
  width: 100%;
  position: relative;
}
.poster:hover {
  transform: scale(1.1);
}
.listItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 14%;
  gap: 15px;
}
.title {
  font-size: larger;
  color: white;
}
.title:hover {
  color: orangered;
}
.rating {
  position: absolute;
  bottom: -20px;
  padding: 5px 10px;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}
.poster:hover .rating {
  opacity: 1;
  bottom: 40px;
  transform: translateY(100%);
}
