.container {
  margin: 0 auto;
  padding: 0 40px;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
  transition: background-clip 0.5s ease, color 0.5s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(255, 162, 0),
    rgba(255, 0, 0, 0.87),
    orange,
    yellow
  );
  background-size: 300% 300%;
  animation: gradientAnimation 4s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
